.btn-primary{
    &:disabled{
    background:$primary !important;
    color:$white !important;
    opacity: 0.5;
    }
}
button{
    height:38px !important;
    border-radius: 4px !important;
    box-shadow: none !important;
    &:focus{
        box-shadow: none !important;
        outline:none !important;
    }
}


