.mt-30 {
  margin-top: 30px !important;
}
.mt-80{
  margin-top:80px !important;
}
.mr-2{
  margin-right:2px !important;

}
.mr-15{
  margin-right:15px !important;
}
.ml-2{
  margin-left:2px !important;


}
.ml-5{
  margin-left:5px;
}
.mr-5{
  margin-right:5px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.spacing-60 {
  padding-bottom: 60px;
}
.spacing-40 {
  padding-bottom: 40px;
}
.spacing-30 {
  padding-bottom: 30px;
}
.spacing-20 {
  padding-bottom: 20px;
}
.spacing-15 {
    padding-bottom: 15px;
  }
.spacing-10 {
    padding-bottom: 10px;
  }
