.text-center {
    text-align: center;
}
.text-light-grey{
    color:$scrollbar-thumb !important;
}

.text-grey{
    color:$dark-grey;
}
.text-primary{
    color:$primary;
}
.text-decoration-underline{
    text-decoration: underline;
}
.text-decoration-none{
    text-decoration:none;
}