$primary:#f3a300;
$light-primary:#f7f4ee;
$white: #ffffff;
$dark-grey: #0a0700;
$menu-hover-color:#f2f2f2;
$light-gray: #fdfdfd;
$dark-violet:#9013FE;
$alto-color: #e2dfdf;
$scrollbar-thumb: #bbbbbb;
$gray-400: #74767d;
$warning: #f44336;
$off-white: #f2f2f2;
$white-400:#f9f9f9;
$ff: "Roboto", sans-serif;
$light-200:#fbfbfb;


//font-weight
$font-weight-medium: 500;
$font-weight-normal: 400 !default;
$font-family-base: $ff !default;

$xsmall-font:14px;
$xxsmall-font: 13px;
$xxxsmall-font:12px;